@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "common/variables";
@import "helpers/margin";
@import "helpers/padding";
@import "helpers/typography";
@import "helpers/layout";
@import "common/bootstrap_overrides";

body {
  background-color: #ccc;
  height: 100%;
}

.select {
  padding: 10px;
  height: 75px;
  width: 250px;
}

.map {
  border: solid #000000 2px;
}

.date-picker-wrapper {
  input {
    height: 35px;
  }
}

.date-picker {
  z-index: 10;
  position: absolute;
  background-color: white;
  margin-top: 20px;
  border:solid #000000 2px;
  width: 250px;
  table {
    margin-left: 20px;
  }
}

.input-mode {
  z-index: 10;
}

.previous-month {
  float: left;
}

.month-label {
  text-align: justify;
}

.next-month {
  float: left;
}

.days {
  width: 200px;
}

.time-picker {
  padding-left: 20px;
  width: 230px;
}

.row {
  padding-top: 30px;
}

ul {
  margin: 20px;
  list-style:none;
}

.input-color {
  position: relative;
}

.input-color .color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ccc;
  position: absolute;
  left: 5px;
  top: 5px;
}